body {
    background-color: black;
    color: gold;
}

.game-images {
    width: 230px;
    height: 200px;
    border: hidden;
    border-radius: 5%;
    padding: 3px;
}

#detail-image {
    width: 345px;
    height: 300px;
    border: hidden;
    border-radius: 5%;
}

#content-section {
    display: inline-block;
}
